{% resource 'datapub/css/2.efd72c39.chunk.css' %}
{% resource 'datapub/css/main.ff42417d.chunk.css' %}

{% resource 'datapub/js/runtime-main.30b7bc45.js' %}
{% resource 'datapub/js/2.03af967c.chunk.js' %}
{% resource 'datapub/js/main.2f467954.chunk.js' %}

<div id="ResourceEditor"
     data-dataset-id="{{ pkg_name }}"
     data-api="{{ base_url }}"
     data-lfs="{{ h.extstorage_lfs_url() }}"
     data-auth-token="{{ api_key }}"
     data-organization-id="{{ h.extstorage_organization_name(pkg_name) }}"
     data-resource-id="{{ resource_id }}">
</div>