{% resource 'datapub/css/main.b4d771cb.chunk.css' %}

{% resource 'datapub/js/runtime-main.30b7bc45.js' %}
{% resource 'datapub/js/2.0eeaae2f.chunk.js' %}
{% resource 'datapub/js/main.54b519ef.chunk.js' %}

<div id="ResourceEditor"
     data-dataset-id="{{ pkg_name }}"
     data-api="{{ base_url }}"
     data-lfs="{{ h.extstorage_lfs_url() }}"
     data-auth-token="{{ api_key }}"
     data-organization-id="{{ h.extstorage_organization_name(pkg_name) }}"
     data-resource-id="{{ resource_id }}">
</div>
